{% extends "auth/base.html" %}
{% block title %}사용자 일람{% endblock %}

{% block content %}
<h2>사용자 일람</h2>
<a href="{{ url_for('auth.create_user')}}">사용자 신규 작성</a>
<table>
    <tr>
        <th>사용자 id</th>
        <th>사용자 명</th>
        <th>메일주소</th>
        <th>전화번호</tr>
    </tr>
{%for i in users%}
    <tr>
        <td><a href="{{url_for('auth.edit_user',user_id=i.id)}}">{{ i.id }}</a></td>
        <td>{{i.username}}</td>
        <td>{{i.email}}</td>
        <td>{{i.number}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
</html>
